@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --main-color:#09b451;
}
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__nav a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    color: rgba(64, 64, 64, 0.80);
    font-weight: 700;
}
.btn{
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 600;
    font-size: 18px;
    color: var(--main-color);
}

.login{
    color: #09b451;
    border: none;
    background-color: transparent;
}
.register{
    background-color: #09b451;
    color: white;
}
.get strated {

}
.header-mobile { 
    display: none;
}
@media only screen and (max-width: 1000px){
    .desktop {
        display: none !important;
    }
    .header-mobile { 
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        box-shadow: 0px 4px 8px 0px rgba(200, 200, 200, 0.25);
        padding: 20px 10px;
    }
    .left{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .left img {
        margin-left: 30px;

    }
    .header-mobile i{
        font-size: 30px;
    }
    .header-mobile img {
      width: 200px;
    }
    .header-mobile logo {
        display: flex;
        align-items: center;
    }
    .header-mobile .logo i {
        margin-right: 20px;
    }
}
/*Position*/
.header-mobile__nav{
/* set vị trí so với toàn màn hình*/
position: fixed;
top: 0;
bottom: 0;
left: -300px;
right: 100%;
width: 300px;
background-color: #fff; 
transition: all 0.3s;
}
.header-mobile__nav.active{
    left: 0%;
    box-shadow: 0px 4px 8px 0px rgba(200, 200, 200, 0.25);
}
.header-mobile__nav i{
    /* follow theo thằng cha có position gần nhất */
    position: absolute;
    top: 20px;
    right: 20px;
    }
 .header-mobile__nav a{
display: block;
margin: 20px 0;
font-weight: 500;
text-decoration: none;
font-size: 30px;
 }
 .background{

    background-color: floralwhite;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to top right,rgba(9, 180, 81, 0.1));
 }
 .background__right{
    position: relative;
    z-index: 1;
 }
 .shape{
    position:absolute;
    right: 200px;
    top: 0;
    bottom: 0;
    width: 100px;
    background-color: red;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    z-index: 0 !important;
 }
 .background__content h1{
    background-color: floralwhite;
    width: 70%;
    font-size: 60px;
}
.background__content{
    flex-grow: 1;
}
.body{
    padding: 0 100px;
}
 .background__image{
    background-color: floralwhite;
    width: 60%;
 }
 .background__image img{
    width: 900px;
 }
  
 @media only screen and(max-width:1000px) {
    .background{
        display: block;
    }
    .background__content { 
        width: 100%; 
     }
     .background__image{
        width: 100%;
     }
 }
 .service{
    display: flex;
    background-color:floralwhite;
    gap: 50px;
 }
 .service__item{
    background-color:azure;
    width: calc(100% / 5);
    padding: 20px 30px;
    border-radius: 5px;
    display: flex;
    align-items: center;
 }
 .service__item i{
 margin-right: 10px;
 height: 40px;
 width: 40px;
 background-color: var(--main-color);
 display: flex;
align-items: center;
justify-content: center;
border-radius: 50%; 
color: #fff;

 }
 .service__item span{
    font-size: 20px;
 }
 @media only screen and (max-width: 768px) {
    .service__item{
        width: calc(50%- 10px);
        padding: 10px;
    }
 }
 .service__item span{
    font-size: 14px;
 }
 .service{
    gap: 10px;
 }
 
    


