@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__nav a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    color: rgba(64, 64, 64, 0.80);
    font-weight: 700;
}
.btn{
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
}

.login{
    color: #09b451;
    border: none;
    background-color: transparent;
}
.register{
    background-color: #09b451;
    color: white;
}
.header-mobile { 
    display: none;
}
@media only screen and (max-width: 1000px){
    .desktop {
        display: none !important;
    }
    .header-mobile { 
        display: flex;
        align-items: center;
        justify-content: space-between !important;
        box-shadow: 0px 4px 8px 0px rgba(200, 200, 200, 0.25);
        padding: 20px 10px;
    }
    .left{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .left img {
        margin-left: 30px;

    }
    .header-mobile i{
        font-size: 30px;
    }
    .header-mobile img {
      width: 200px;
    }
    .header-mobile logo {
        display: flex;
        align-items: center;
    }
    .header-mobile .logo i {
        margin-right: 20px;
    }
}
/*Position*/
.header-mobile__nav{
/* set vị trí so với toàn màn hình*/
position: fixed;
top: 0;
bottom: 0;
left: -300px;
right: 100%;
width: 300px;
background-color: #fff; 
transition: all 0.3s;
}
.header-mobile__nav.active{
    left: 0%;
    box-shadow: 0px 4px 8px 0px rgba(200, 200, 200, 0.25);
}
.header-mobile__nav i{
    /* follow theo thằng cha có position gần nhất */
    position: absolute;
    top: 20px;
    right: 20px;
    }
 .header-mobile__nav a{
display: block;
margin: 20px 0;
font-weight: 500;
text-decoration: none;
font-size: 30px;
 }
    


